{% extends "layout.html" %}

{# Title used for tab name. #}
{% block title %}Reviews{% endblock %}

{# Loads the review pages JavaScript file. #}
{% block script %}
{% load static %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="flex items-center min-h-[calc(100vh-140px)] drop-shadow-md drop-shadow-mauve-900">
        <div class="w-7xl mx-auto">

            {# Description of Clarity Tutoring with an average rating based off reviews. #}
            <div class="bg-white text-black gap-8 p-4 rounded-3xl mb-4 grid grid-cols-[1fr_5fr_2fr]">
                <img class="h-max border-2 aspect-square rounded-full object-cover" src="{% static 'images/icon.png' %}" alt="">
                <div>
                    <h1 class="text-3xl">Clarity Tutoring</h1>
                    <hr>
                    <p>Clarity Tutoring is a local learning service in Tauranga and online service for New Zealand that helps students build strong skills and boost their school confidence through clear, one-on-one lessons tailored to each child's unique needs.</p>
                </div>
                <div>
                    <h2 class="text-xl text-center py-4">Average Rating:</h2>
                    <h1 class="text-4xl text-center">{{ avg_rating|floatformat:2 }}/5</h1>
                </div>
            </div>

            {# Header for reviews page with button to open the popup for creating a view. #}
            <div class="bg-white text-black p-4 rounded-3xl">
                <div class="grid grid-cols-[1fr_auto]">
                    <h1 class="text-2xl">Reviews:</h1>
                    <button id="createBtn" class="bg-third px-8 py-1.5 border-2 rounded-2xl text-white cursor-pointer">Create Review</button>
                </div>
                <hr class="my-2 py-1">
                <div class="grid grid-cols-3 gap-6">
                
                {# Displays each review with users profile picture, name, rating, comment, verified symbol and date of creation. #}
                {% for review in reviews %}
                    <div class="bg-white drop-shadow-md drop-shadow-mauve-900 p-4 rounded-2xl">
                        <div class="grid gap-2 grid-cols-[auto_3fr_2fr] pb-2">
                            <img id="profileBtn" src="{{ review.user.profile.profile_image.url }}" alt="" class="border h-10 aspect-square rounded-full object-cover mx-auto">
                            <div>
                                <h4>{{ review.user.first_name }} {{ review.user.last_name }}</h4>
                                <h4 class="text-xs">{{ review.created }}</h4>
                            </div>
                            <div>
                                <h4 class="text-right">
                                    <div class="star-rating gap-x-1 text-right">
                                        {% for _ in "12345"|make_list %}
                                            <span class="{% if forloop.counter > review.stars %}text-gray-300{% else %}text-yellow-400{% endif %}">★</span>
                                        {% endfor %}
                                    </div>
                                </h4>
                                <h4 class="text-xs text-right">Verified: {% if review.used %}✔️{% else %}❌{% endif %}</h4>
                            </div>
                        </div>
                        <hr>
                        <p>{{ review.message }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        {# Displays a popup with a close button when user wants to create a review. #}
        <div id="createMenu" class="hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-2xl max-w-lg bg-white drop-shadow-md drop-shadow-mauve-900 p-4 rounded-2xl shadow-2xl z-50">
            <div class="grid-cols-[1fr_4fr_1fr] grid">
                <div></div>
                <h1 class="text-2xl text-black text-center">Create Review</h1>
                <button id="closeBtn" class="text-black text-2xl cursor-pointer text-right pr-3">&times;</button>
            </div>

            {# Check if user is logged in so they can create a review. #}
            {% if request.user.is_authenticated %}
            <form action="/reviews/" method="post" class="text-black text-center">
                {% csrf_token %}
                {{ form.stars }}
                <div class="star-rating gap-2 text-2xl text-center py-2">

                    {# Displaying all 5 stars with a for loop #}
                    {% for star in star_range %}
                    <button type="button" class="star cursor-pointer text-gray-300 hover:text-yellow-300 transition" data-value="{{ star }}">★</button>
                    {% endfor %}
                </div>
                <h4 class="pb-4">Comment:</h4>
                {{ form.message }}
                <button class="bg-third px-8 py-1.5 mt-2 border-2 rounded-2xl text-white cursor-pointer" type="submit">Submit</button>
            </form>

            {# If user not logged in then prompt a login to create a review. #}
            {% else %}
            <p class="pt-2 text-black text-center"><a class="underline" href="/users/login/">Login</a> to create a review.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
