@import "tailwindcss";

@theme {
    --color-primary: oklab(37.251% -0.02105 -0.04872);
    --color-secondary: oklab(35.392% -0.01987 -0.04534);
    --color-third: rgb(147, 206, 126);
    --color-fourth: rgb(38, 64, 87);
    --color-text: oklab(100% 0 -0.00011);
}

@layer components {
    input, select, label, textarea {
        background-color: oklab(79.161% -0.09231 0.0836 / 0.137);
        border-color: oklab(79.161% -0.09231 0.0836); 
        border-style: solid;
        border-width: 2px;
        padding: 4px 8px;
        border-radius: 8px;
    }

    ::placeholder {
        color: rgb(175, 175, 175);
    }
    
    .fc .fc-daygrid-day.fc-day-today, .fc .fc-timegrid-col.fc-day-today {
        background-color: rgba(147, 206, 126, 0.3) !important;
    }

    .calendar-wrapper {
        all: revert;
    }

    .fc-day-view-active {
        /* max-width: 600px !important; fix later? */
    }

    #id_subject {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}