@import "tailwindcss";

@theme {
    /* Custom colours allowing for a consistent theme. */
    --color-primary: oklab(37.251% -0.02105 -0.04872);
    --color-secondary: oklab(35.392% -0.01987 -0.04534);
    --color-third: rgb(147, 206, 126);
    --color-fourth: rgb(38, 64, 87);
    --color-text: oklab(100% 0 -0.00011);
}

@layer components {
    /* The following three components CSS updated for consistency and no ability to use Tailwind due to forms. */
    input, select, label, textarea {
        background-color: oklab(79.161% -0.09231 0.0836 / 0.137);
        border-color: oklab(79.161% -0.09231 0.0836); 
        border-style: solid;
        border-width: 2px;
        padding: 4px 8px;
        border-radius: 8px;
    }

    textarea {
        height: 4rem;
        width: 16rem;
    }
    
    #id_subject {
        display: inherit;
        gap: 1rem;
        justify-content: inherit;
    }

    /* Adjust placeholders CSS in input for better readability. */
    ::placeholder {
        color: rgb(175, 175, 175);
    }
    
    /* Adjust the FullCalendar CSS to fit the theme further. */
    .fc .fc-daygrid-day.fc-day-today, .fc .fc-timegrid-col.fc-day-today {
        background-color: rgba(147, 206, 126, 0.3) !important;
    }

    /* Used to fix the css of FullCalendar. */
    .calendar-wrapper {
        all: revert;
    }

    /* Used to try update the flatpickr CSS. */
    svg:hover, svg *:hover {
        fill: #000000 !important;
        stroke: #000000 !important;
    }

    .fc-timegrid-body,
    .fc-timegrid-body table,
    .fc-col-header,
    .fc-scrollgrid {
        width: 100% !important;
        max-width: 100% !important;
        table-layout: fixed !important; /* Prevents text elements from stretching columns */
    }
}