{% extends "layout.html" %}

{% block title %}Connect{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    
    {% if request.user.user_type == "student" %}
    <h1>Please insert the join code below:</h1>
    {% elif request.user.user_type == "caregiver" %}

    <div class="flex items-center min-h-[calc(100vh-140px)] drop-shadow-md drop-shadow-mauve-900">
        <div class="w-lg mx-auto bg-white text-black p-4 rounded-3xl">
            <form class="grid place-items-center" action="/services/connect/" method="post">
                {% csrf_token %}
                <h1 class="text-center text-2xl pb-4">Start</h1>
                <h2>Provide notes on what your child would like to get tutoring on:</h2>
                <textarea class="my-4" name="caregiver_note" cols="50" rows="5" required="" id="id_caregiver_note"></textarea>  
                <button class="cursor-pointer bg-third px-8 py-2 border-2 rounded-2xl text-white" type="submit">Start</button>
            </form>
        </div>
    </div>

    {% endif %}
    {% else %}
    <h1 class="text-center text-2xl">
        Please <a class="underline" href="/users/login/">Login</a> or <a class="underline" href="/users/register/">Register</a> to access this.
    </h1>
    {% endif %}
    
{% endblock %}