{% extends "layout.html" %}

{# Title used for tab name. #}
{% block title %}Dashboard{% endblock %}

{# Loads the calendar JavaScript file. #}
{% block script %}
{% load static %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="flex items-center justify-center min-h-[calc(100vh-150px)]">
        <div class="w-full max-w-7xl">

            {# Title block for dashboard page. #}
            <div class="grid gap-8 text-black mb-4">
                <div class="hidden md:block bg-white rounded-2xl px-8 py-6 drop-shadow-md drop-shadow-mauve-900">
                    <h2 class="text-3xl text-center">Welcome to {{ service.student.first_name|capfirst }}'s Tutoring</h2>
                </div>
            </div>

            <div class="grid gap-4 text-black lg:grid-cols-[8fr_7fr]">
                <div class="grid gap-4">
                    <div class="hidden md:block bg-white rounded-2xl px-8 py-6 drop-shadow-md drop-shadow-mauve-900">

                        {# Tutoring information block that shares information about the users with access and notes for them. #}
                        <div class="grid grid-cols-[auto_1fr] pb-4">
                            <h2 class="text-2xl">Tutoring Information:</h2>
                            <a class="text-right text-xl place-items-center" href="/services/{{ service.pk }}/settings/">→</a>
                        </div>
                        <div class="grid grid-cols-[auto_1fr] gap-8">
                            <div>
                                <h3 class="pb-2 text-lg underline underline-offset-3">Users in Service:</h3>
                                <div class="grid gap-2">
                                    <div class="grid grid-cols-[auto_1fr] gap-2 items-center">
                                        <img src="{{ service.student.profile.profile_image.url }}" alt="Student profile picture" class="h-8 aspect-square rounded-full object-cover mx-auto border-black border">
                                        <h3>{{ service.student.first_name|capfirst }}</h3>
                                    </div>
                                    <div class="grid grid-cols-[auto_1fr] gap-2 items-center">
                                        <img src="{{ service.caregiver.profile.profile_image.url }}" alt="Caregiver profile picture" class="h-8 aspect-square rounded-full object-cover mx-auto border-black border">
                                        <h3 class="">{{ service.caregiver.first_name|capfirst }}</h3>
                                    </div>
                                    {% if service.tutor %}
                                    <div class="grid grid-cols-[auto_1fr] gap-2 items-center">
                                        <img src="{{ service.tutor.profile.profile_image.url }}" alt="Tutor profile picture" class="h-8 aspect-square rounded-full object-cover mx-auto border-black border">
                                        <h3 class="">{{ service.tutor.first_name|capfirst }}</h3>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <h3 class="pb-2 text-lg underline underline-offset-3">Service Information:</h3>
                                {# Displays the caregivers and students to tutor. #}
                                {% if request.user.user_type == "tutor" %}
                                <p>Caregiver: {{ service.caregiver_note }}</p>
                                <p>Student: {{ service.student_note }}</p>
                                
                                {% elif not service.tutor %}
                                <p>Contact 02040563805 to have a tutor assigned to you.</p>

                                {# Displays the tutors note to caregiver and student. #}
                                {% else %}
                                <p>{{ service.tutor.profile.description }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {# Block that shares information about the next tutoring session. #}
                    <div id="meeting-info" data-pk="{{ service.pk }}" class="row-span-2 bg-white text-black px-8 py-6 rounded-2xl drop-shadow-md drop-shadow-mauve-900">
                        <div class="grid sm:grid-cols-[auto_1fr] pb-4">
                            <h1 class="text-2xl pb-2">Next Meeting Information:</h1>

                            {# Last refreshed displayed to prevent spam refresh. #}
                            <div class="flex sm:block text-left sm:text-right sm:px-2 text-sm">
                                <h2>Last Refreshed: </h2>
                                <div id="refreshed-time"></div>
                            </div>
                        </div>

                        {# Checking that there is a session to display. #}
                        {% if next_session %}
                        <h3>Start Time: {{ next_session.start }}</h3>
                        <h3>Duration: {{ next_session.duration }}</h3>
                        <h3>Tutor: {{ next_session.tutor.first_name }}</h3>
                        <h3>Link: 
                            {% if not next_session.link %}
                            Will be uploaded 5 minutes prior start.
                            {% else %}

                            {# Redirects user to session-link which will update the session to completed and then take them to Google Meets. #}
                            <a class="underline" id="session-link" target="_blank" href="/services/session-link/{{ next_session.id }}/">Click Here</a>
                            {% endif %}
                        </h3>
                        <div class="pt-4">

                            {# If user is tutor provide input for session code from Google Meets or if already inputted delete button. #}
                            {% if request.user.user_type == "tutor" %}
                            {% if next_session.link %}
                            <form name="delete-link" method="post">
                                {% csrf_token %}
                                <button class="transition-all duration-150 active:scale-90 bg-gray-300 px-8 py-1.5 rounded-2xl text-black cursor-pointer">Delete Link</button>
                            </form>
                            {% else %}
                            <form action="/services/{{ service.pk }}/dashboard/" method="post">
                                {% csrf_token %}
                                <input type="text" name="link" placeholder="{{ next_session.link }}">
                                <button class="transition-all duration-150 active:scale-90 bg-third px-8 py-1.5 border-2 rounded-2xl text-white cursor-pointer" type="submit">Submit</button>
                            </form>
                            {% endif %}

                            {# If user is not a tutor then display cancel session button. #}
                            {% else %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="cancel-session" value="{{ next_session.id }}">
                                <button class="transition-all duration-150 active:scale-90 bg-gray-300 px-8 py-1.5 w-full rounded-2xl text-black cursor-pointer">Cancel Session - Fees may be included</button> 
                            </form>
                            {% endif %}
                        </div>

                        {# If there is no session prompt user to book. #}
                        {% else %}
                        <h3>No sessions booked. Click <a class="underline" href="/services/{{ service.pk }}/calendar/">here</a> to book.</h3>
                        {% endif %}
                    </div>
                    
                    {# Help block with contact information and link to help page. #}
                    <div class="hidden md:block bg-white rounded-2xl px-8 py-6 drop-shadow-md drop-shadow-mauve-900">
                        <div class="grid grid-cols-[auto_1fr] pb-4">
                            <h2 class="text-2xl">Help:</h2>
                            <a class="text-right text-xl place-items-center" href="/help/">→</a>
                        </div>
                        <h1>If you need help with anything feel free to scan the help page.</h1>
                        <h1>If your problem isn't answered there contact me at: sargentl@stu.otc.school.nz</h1>
                    </div>
                </div>
                <div class="grid gap-4">

                    {# Using FullCalendarJS display all sessions in order. #}
                    <div class="bg-white rounded-2xl row-span-2 px-8 py-6 row-span drop-shadow-md drop-shadow-mauve-900">
                        <div class="grid grid-cols-[auto_1fr] pb-4">
                            <h2 class="text-2xl">Booked Tutoring Session:</h2>
                            <a class="text-right text-xl place-items-center" href="/services/{{ service.pk }}/calendar/">→</a>
                        </div>
                        <div id='calendar-min'></div>
                    </div>
                    
                    {# Resources block that displays for tutor allowing them to assign resources to student. #}
                    {% if request.user.user_type == "tutor" %}
                    <div class="bg-white rounded-2xl row-span-2 px-8 py-6 drop-shadow-md drop-shadow-mauve-900">
                        <div class="grid grid-cols-[auto_1fr] pb-2">
                            <h2 class="text-2xl">Resources:</h2>
                            <a class="text-right text-xl place-items-center" href="/services/">→</a>
                        </div>
                        <h3>Upload the Resources here:</h3>
                        <form action="/services/{{ service.pk }}/dashboard/" method="post">
                            {% csrf_token %}
                            <h4>Document:</h4>
                            <div class="py-1">
                                {{ resource_form.document }}
                            </div>
                            <h4>Message:</h4>
                            <div class="py-1">
                                {{ resource_form.message }}
                            </div>
                            <button name="share_resources" class="transition-all duration-150 active:scale-90 bg-third px-8 py-1.5 mt-2 border-2 rounded-2xl text-white cursor-pointer" type="submit">Assign</button>
                        </form>
                    </div>

                    {# Resources block that displays for student showing the most recent resource sent. #}
                    {% elif request.user.user_type == "student" %}
                    <div class="bg-white rounded-2xl row-span-2 px-8 py-6 drop-shadow-md drop-shadow-mauve-900">
                        <div class="grid grid-cols-[auto_1fr] pb-4">
                            <h2 class="text-2xl">Resources:</h2>
                            <a class="text-right text-xl place-items-center" href="/services/{{ service.pk }}/resources/">→</a>
                        </div>
                        <div>
                            {% if resources %}
                            <div class="
                            bg-white drop-shadow-md drop-shadow-mauve-900 p-4 rounded-2xl 
                            {% if not resources.0.opened %} 
                            border-2 border-third 
                            {% endif %}">
                                <div class="grid gap-4 grid-cols-[auto_1fr] pb-4">
                                    <img id="profileBtn" src="{{ resources.0.tutor.profile.profile_image.url }}" alt="Tutor profile picture" class="border h-10 aspect-square rounded-full object-cover mx-auto">
                                    <div class="sm:flex sm:text-lg justify-between">
                                        <h4>{{ resources.0.tutor.first_name }} {{ resources.0.tutor.last_name }}</h4>
                                        <h4>{{ resources.0.created }}</h4>
                                    </div>
                                </div>
                                <h6 class="text-md">{{ resources.0.message }} Click <a href="/services/pdf/{{ resources.0.id }}/" onclick="refreshPage()" class="underline" target="_blank">here</a> to access the work.</h6>
                                <h6 class="text-xs text-right">Opened: {% if not resources.0.opened %}❌{% else %}✔️{% endif %}</h6>
                            </div>
                            {% else %}
                            <h4>No resources uploaded yet.</h4>
                            {% endif %}
                        </div>
                    </div>

                    {# Pricing information displayed as well as total amount owed for caregiver. #}
                    {% elif request.user.user_type == "caregiver" %}
                    <div class="bg-white rounded-2xl row-span-2 px-8 py-6 drop-shadow-md drop-shadow-mauve-900">
                        <div class="grid grid-cols-[auto_1fr] pb-4">
                            <h2 class="text-2xl">Pricing:</h2>
                            <a class="text-right text-xl place-items-center" href="/services/{{ service.pk }}/payment/?paid=false">→</a>
                        </div>
                        <div>
                            <p>Amount Due: ${{ total_owed|floatformat:2 }}</p>
                            <p>The pricing for this service is ${{ settings.GLOBAL_COST }} per hour. You cannot cancel a session within an hour of the start. For cancellations that happen on the same day there is a $10 fee.</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>

    <script>

        // Collecting current time to display on last refreshed.
        window.onload = function() {
            const now = new Date(); 
            const time = now.toLocaleTimeString();
            document.getElementById('refreshed-time').textContent = time;
        };

        // Page refresh called for when student opens a resource to update that it has been opened. 
        function refreshPage() {
            setTimeout(() => {
                window.location.reload();
            }, 500);
        }
    </script>
{% endblock %}