{% extends "layout.html" %}

{% block title %}Join{% endblock %}

{% block content %}
    <div class="flex items-center min-h-[calc(100vh-140px)] drop-shadow-md drop-shadow-mauve-900">
        <div class="w-lg mx-auto bg-white text-black p-4 rounded-3xl text-center">
            <h1 class="text-4xl">Join Code:</h1>
            <p class="py-4">Type in the join code from your caregiver.</p>
            <form action="/services/join/" method="post">
                {% csrf_token %}
                {{ form.code }}
                <button class="bg-third px-8 py-1.5 border-2 rounded-2xl text-white cursor-pointer" type="submit">Continue</button>
            </form>
        </div>
    </div>
{% endblock %}