{% extends "layout.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="flex items-center min-h-[calc(100vh-140px)] drop-shadow-md drop-shadow-mauve-900">
        <div class="w-full max-w-7xl">
            <div class="w-5xl mx-auto bg-white text-black p-4 rounded-3xl mb-4">
                <h1 class="text-3xl text-center">Payment:</h1>
            </div>
            <div class="w-5xl mx-auto bg-white text-black p-4 rounded-3xl mb-4">
                <div class="">
                    <h2 class="text-2xl pb-4">Pricing Information:</h2>
                    <div class="">
                        <p>The pricing for this service is ${{ settings.GLOBAL_COST }} per hour. You cannot cancel a session within an hour of the start. For cancellations that happen on the same day there is a $10 fee.</p>
                    </div>
                </div>
            </div>
            <div class="w-5xl mx-auto bg-white text-black p-4 rounded-3xl mb-4">
                <h2 class="text-2xl pb-4">Amount Due: ${{ total_cost }}</h2>
                <div class="grid grid-cols-4 gap-4">
                    {% for session in unpaid %}
                    <div class="bg-white drop-shadow-md drop-shadow-mauve-900 p-4 rounded-2xl border-third border-2">
                        <h3>Start: {{ session.start }}</h3>
                        <h3>Duration: {{ session.duration }} Minutes</h3>
                        <h3>Cost: ${{ session.cost }}</h3>
                        <h3>Tutor: {{ session.service.tutor.first_name }} {{ session.service.tutor.last_name }}</h3>
                        <h3>Completed: {{ session.completed }}</h3>
                        <h3>Paid: {{ session.paid }}</h3>
                    </div>
                    {% empty %}
                    <p class="col-span-4">Book a session, click <a href="/services/{{ service.pk }}/calendar/" class="underline">here</a>!</p>
                    {% endfor %}
                </div>
            </div>
            <div class="w-5xl mx-auto bg-white text-black p-4 rounded-3xl">
                <div class="grid grid-cols-[1fr_auto]">
                    <h2 class="text-2xl pb-4">All Sessions:</h2>
                    <div class="flex items-center pb-4 gap-2">
                        <a href="?" class="px-8 py-1.5 rounded-2xl {% if not request.GET %}bg-third text-white{% else %}bg-gray-300 text-black{% endif %}">
                            All
                        </a>
                        <a href="?completed=true" class="px-8 py-1.5 rounded-2xl {% if request.GET.completed == 'true' %}bg-third text-white{% else %}bg-gray-300 text-black{% endif %}">
                            Completed
                        </a>
                        <a href="?completed=false" class="px-8 py-1.5 rounded-2xl {% if request.GET.completed == 'false' %}bg-third text-white{% else %}bg-gray-300 text-black{% endif %}">
                            Uncomplete
                        </a>
                        <a href="?paid=true" class="px-8 py-1.5 rounded-2xl {% if request.GET.paid == 'true' %}bg-third text-white{% else %}bg-gray-300 text-black{% endif %}">
                            Paid
                        </a>
                        <a href="?paid=false" class="px-8 py-1.5 rounded-2xl {% if request.GET.paid == 'false' %}bg-third text-white{% else %}bg-gray-300 text-black{% endif %}">
                            Unpaid
                        </a>
                    </div>
                </div>
                <div class="grid grid-cols-4 gap-4">
                    {% for session in sessions %}
                    <div class="bg-white drop-shadow-md drop-shadow-mauve-900 p-4 rounded-2xl">
                        <div>
                            <h3>Start: {{ session.start }}</h3>
                            <h3>Duration: {{ session.duration }} Minutes</h3>
                            <h3>Cost: ${{ session.cost }}</h3>
                            <h3>Tutor: {{ session.service.tutor.first_name }} {{ session.service.tutor.last_name }}</h3>
                            <h3>Completed: {{ session.completed }}</h3>
                            <h3>Paid: {{ session.paid }}</h3>
                            {% if not session.completed %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="cancel-session" value="{{ session.id }}">
                                    <button class="bg-gray-300 px-8 py-1.5 w-full mt-4 rounded-2xl text-black cursor-pointer">Cancel Session</button> 
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    {% empty %}
                    <p class="col-span-4">Book a session, click <a href="/services/{{ service.pk }}/calendar/" class="underline">here</a>!</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}