{% extends "layout.html" %}

{% block title %}Resources{% endblock %}

{% block content %}
    <div class="flex items-center min-h-[calc(100vh-140px)] drop-shadow-md drop-shadow-mauve-900">
        <div class="w-lg mx-auto bg-white text-black p-4 rounded-3xl">
            <h1 class="text-4xl">Resources:</h1>
            {% for service_document in request.user.service_student.first.servicedocument_set.all %}
                <a href="{{ document.document.url }}" target="_blank">{{ service_document.document.title }}</a>
            {% empty %}
                <p>No resources uploaded yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}