{% extends "layout.html" %}

{# Title used for tab name. #}
{% block title %}Settings{% endblock %}

{% block content %}
    <div class="flex items-center min-h-[calc(100vh-140px)] drop-shadow-md drop-shadow-mauve-900">
        <div class="mx-auto max-w-4xl grid sm:grid-cols-[3fr_1fr] gap-4">
            <div class="mx-auto bg-white text-black p-4 rounded-3xl">
                <div class="grid pb-4">
                    <h2 class="text-2xl">Tutoring Information:</h2>
                </div>

                {# Information displayed about the tutoring service. #}
                <div class="grid sm:grid-cols-[auto_1fr] gap-2 sm:gap-8">
                    <div>
                        <h3 class="pb-2 text-lg underline underline-offset-3">Users in Service:</h3>
                        <div class="grid grid-rows-3 gap-2">
                            <div class="grid grid-cols-[auto_1fr] gap-2 items-center">
                                <img src="{{ service.student.profile.profile_image.url }}" alt="" class="h-8 aspect-square rounded-full object-cover mx-auto border-black border">
                                <h3>{{ service.student.first_name|capfirst }}</h3>
                            </div>
                            <div class="grid grid-cols-[auto_1fr] gap-2 items-center">
                                <img src="{{ service.caregiver.profile.profile_image.url }}" alt="" class="h-8 aspect-square rounded-full object-cover mx-auto border-black border">
                                <h3>{{ service.caregiver.first_name|capfirst }}</h3>
                            </div>
                            <div class="grid grid-cols-[auto_1fr] gap-2 items-center">
                                <img src="{{ service.tutor.profile.profile_image.url }}" alt="" class="h-8 aspect-square rounded-full object-cover mx-auto border-black border">
                                <h3>{{ service.tutor.first_name|capfirst }}</h3>
                            </div>
                        </div>
                    </div>

                    {# If user is tutor display the private notes for tutor. #}
                    {% if request.user.user_type == "tutor" %}
                    <div>
                        <h3 class="pb-2 text-lg underline underline-offset-3">Private Notes:</h3>
                        <p>Caregiver: {{ service.caregiver_note }}</p>
                        <p>Student: {{ service.student_note }}</p>
                    </div>

                    {# If user is caregiver or student display note from tutor. #}
                    {% else %}
                    <div>
                        <h3 class="pb-2 text-lg underline underline-offset-3">Service Information:</h3>
                        <p>{{ service.tutor.profile.description }}</p>
                    </div>
                    {% endif %}
                </div>

                {# Two seperate forms for both student and caregiver to update their survey information. #}
                <form action="/services/{{ service.pk }}/survey/" method="post">
                    <div class="grid py-2 gap-4">
                        {% csrf_token %}
                        {% if request.user.user_type == "student" %}
                        <h4>Private Note to Tutor:</h4>
                        <div>{{ form.student_note }}</div>
                            
                        {% elif request.user.user_type == "caregiver" %}
                        <h4>Year:</h4>
                        <div>{{ form.year }}</div>
                        <h4>Subjects:</h4>
                        <div class="grid md:flex md:gap-4 justify-left">{{ form.subject }}</div>
                        <h4>Private Note to Tutor:</h4>
                        <div>{{ form.caregiver_note }}</div>
                        {% endif %}
                    </div>
                    <button class="bg-third px-8 py-1.5 border-2 rounded-2xl text-white cursor-pointer" type="submit">Save</button>
                </form>
            </div>

            {# If user is caregiver provide a button for them to delete service or export finances. Not functional yet. #}
            {% if request.user.user_type == "caregiver" %}
            <div class="grid gap-4">
                <div class="bg-white text-black p-4 rounded-3xl">
                    <h2 class="text-2xl pb-4">Export:</h2>
                    <p class="pb-6">Export a receipt of all payments made through Clarity Tutoring. Feature not implemented yet...</p>
                    <button class="bg-gray-300 w-full px-8 py-1.5 rounded-2xl text-black cursor-pointer">Export</button> 
                </div>
                <div class="bg-white text-black p-4 rounded-3xl">
                    <h2 class="text-2xl pb-4">Delete:</h2>
                    <p class="pb-6">Remove all personal information of this service. This can't be undone. Feature not implemented yet...</p>
                    <button class="w-full bg-gray-300 px-8 py-1.5 rounded-2xl text-black cursor-pointer">Delete</button> 
                </div>
            </div>

            {# If user is student provide a button for them to remove themselves from service. Not functional yet. #}
            {% else %}
            <div class="bg-white text-black p-4 rounded-3xl">
                <h2 class="text-2xl pb-4">Remove:</h2>
                <p class="pb-6">Remove your account from the service. This can't be undone. Feature not implemented yet...</p>
                <button class="bg-gray-300 w-full px-8 py-1.5 rounded-2xl text-black cursor-pointer">Remove</button> 
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}