{% extends "layout.html" %}

{# Title used for tab name. #}
{% block title %}About{% endblock %}

{% block content %}
    <div class="flex items-center justify-center min-h-[calc(100vh-150px)]">
        <div class="w-full">

            {# Information about Clarity Tutoring. #}
            <div class="w-full sm:w-xl md:w-2xl lg:w-4xl mx-auto bg-white text-black p-4 rounded-3xl mb-4 text-left sm:text-center sm:drop-shadow-md sm:drop-shadow-mauve-900">
                <h1 class="text-3xl pb-4">About Clarity Tutoring:</h1>
                <p class="pb-2 text-justify sm:text-center">Clarity Tutoring is a local learning service in Tauranga and online service for New Zealand that helps students build strong skills and boost their school confidence through clear, one-on-one lessons tailored to each child's unique needs.</p>
                <p class="underline pb-6"><a href="/reviews/">Rating: {{ rating }}/5</a></p>
                
                {# Button that will update where it takes user relative to where they are upto in the setup process. #}
                <a href="
                {% if not request.user.is_authenticated %}
                /users/register/
                {% elif not service %}
                    {% if request.user.user_type == 'student' %}
                    /services/join/
                    {% elif request.user.user_type == 'caregiver' %}
                    /services/invite/
                    {% endif %}
                {% elif not service.year %}
                /services/{{ service.pk }}/survey/
                {% else %}
                /services/{{ service.pk }}/dashboard/
                {% endif %}
                " class="block bg-third px-8 py-1.5 border-2 rounded-2xl text-2xl text-white cursor-pointer text-center">Start Now</a>
            </div>

            {# Displays all Subjects and their descriptions collected through the view. #}
            <div class="w-full sm:w-xl md:w-2xl lg:w-4xl mx-auto bg-white text-black p-4 rounded-3xl mb-4 sm:drop-shadow-md sm:drop-shadow-mauve-900">
                <h2 class="text-xl pb-4">Subjects:</h2>
                <p class="pb-4">These are all the subjects that are taught if you are unsure if what you need is contact <a class="underline" href="/help/">support</a>.</p>
                <div class="grid sm:flex gap-4 sm:overflow-auto">
                    {% for subject in subjects %}
                    <div class="shrink-0 h-fit sm:h-50 w-full max-w-full sm:w-64 border-third border-4 p-4 rounded-2xl">
                        <h3 class="text-lg pb-4">{{ subject.name }}</h3>
                        <p>{{ subject.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            {# Displays all Tutors and their messages collected through the view. #}
            <div class="w-full sm:w-xl md:w-2xl lg:w-4xl mx-auto bg-white text-black p-4 rounded-3xl sm:drop-shadow-md sm:drop-shadow-mauve-900">
                <h2 class="text-xl pb-4">Tutors:</h2>
                <p class="pb-4">At the moment there is only one tutor that runs this Clarity Tutoring. If you want to become one contact <a class="underline" href="/help/">support</a>.</p>
                <div class="flex gap-4 overflow-auto">
                    {% for tutor in tutors %}
                    <div class="shrink-0 h-fit sm:h-50 w-full max-w-full sm:w-64 border-third border-4 p-4 rounded-2xl">
                        <h3 class="text-lg pb-4">{{ tutor.first_name }} {{ tutor.last_name }}</h3>
                        <p>{{ tutor.profile.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}