{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="flex items-center justify-center min-h-[calc(100vh-140px)]">
        <div>
            <div class="w-4xl mx-auto bg-white text-black p-4 rounded-3xl mb-4">
                <div class="text-center">
                    <h1 class="text-3xl pb-4">About Clarity Tutoring:</h1>
                    <p class="pb-4">Clarity Tutoring is a local learning service in Tauranga and online service for New Zealand that helps students build strong skills and boost their school confidence through clear, one-on-one lessons tailored to each child's unique needs.</p>
                    <a href="
                    {% if not request.user.is_authenticated %}
                    /users/register/
                    {% elif not service %}
                        {% if request.user.user_type == 'student' %}
                        /services/join/
                        {% elif request.user.user_type == 'caregiver' %}
                        /services/invite/
                        {% endif %}
                    {% elif not service.year %}
                    /services/{{ service.pk }}/survey/
                    {% else %}
                    /services/{{ service.pk }}/dashboard/
                    {% endif %}
                    " class="bg-third px-8 py-1.5 border-2 rounded-2xl text-2xl text-white cursor-pointer">Start Now</a>
                </div>
            </div>
            <div class="w-4xl mx-auto bg-white text-black p-4 rounded-3xl mb-4">
                <h2 class="text-xl pb-4">Subjects:</h2>
                <p class="pb-4">These are all the subjects that are taught if you are unsure if what you need is contact <a class="underline" href="/help/">support</a>.</p>
                <div class="flex gap-4 overflow-auto">
                    {% for subject in subjects %}
                    <div class="shrink-0 h-44 w-64 border-third border-4 p-4 rounded-2xl">
                        <h4 class="text-lg pb-4">{{ subject.name }}</h4>
                        <p>{{ subject.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="w-4xl mx-auto bg-white text-black p-4 rounded-3xl">
                <h2 class="text-xl pb-4">Tutors:</h2>
                <p class="pb-4">At the moment there is only one tutor that runs this Clarity Tutoring. If you want to become one contact <a class="underline" href="/help/">support</a>.</p>
                <div class="flex gap-4 overflow-auto">
                    {% for tutor in tutors %}
                    <div class="shrink-0 h-50 w-64 border-third border-4 p-4 rounded-2xl">
                        <h4 class="text-lg pb-4">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
                        <p>{{ tutor.profile.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}