<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    <title>{% block title %}{% endblock %} - Clarity Tutoring</title>
</head>
<body class="bg-secondary text-white">
    <nav class="sticky bg-primary drop-shadow-md drop-shadow-mauve-750">
        <div class="flex justify-between items-center max-w-6xl mx-auto px-6 py-4">
            <div class="flex gap-6 items-center">
                <a href="/">
                    <div>
                        <img class="h-10 hidden sm:block" src="{% static 'images/logo.png' %}" alt="">
                        <img class="h-10 block sm:hidden" src="{% static 'images/icon.png' %}" alt="">
                    </div>
                </a>
                {% if request.user.user_type == "caregiver" %}
                <h2>Caregiver</h2>
                {% endif %}
                {% if request.user.user_type == "student" %}
                <h2><a href="">Tutoring</a></h2>
                {% endif %}
                <h2><a href="">About</a></h2>
                <h2><a href="">Help</a></h2>
            </div>
            <div class="flex gap-6 items-center">
                {% if request.user.is_authenticated %}
                <a href="/users/profile/">
                    <img src="{{ request.user.profile.profile_image.url }}" alt="" class="h-10 aspect-square rounded-full object-cover mx-auto">
                </a>
                {% else %}
                <h2><a href="/users/login/">Login</a></h2>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="max-w-6xl mx-auto px-6 py-4">{% block content %}{% endblock %}</div>
</body>
</html>