{% extends "layout.html" %}

{# Title used for tab name. #}
{% block title %}Login{% endblock %}
{% block content %}
<div class="flex items-center min-h-[calc(100vh-150px)] drop-shadow-md drop-shadow-mauve-900">
    <div class="w-lg mx-auto bg-white text-black p-4 rounded-3xl">
        
        {# Title to Login page with form and required csrf_token. #}
        <h1 class="text-center text-4xl">Login</h1>
        <form action="/users/login/" method="post">
            {% csrf_token %}
            <div class="grid sm:grid-cols-2 py-2 sm:py-4 gap-y-2">

                {# Displays each field of register form. #}
                {% for field in form %}
                <div class="flex gap-1">
                    <div>
                        {{ field.label }}:  
                    </div>

                    {# If field has errors display the text below with popup. #}
                    {% if field.errors %}
                    <div class="relative group flex">
                        <span class="cursor-pointer text-white">&#9888;</span>
                        <div class="hidden group-hover:block absolute bottom-full left-1/2 -translate-x-1/2">
                            <div class="bg-gray-200 text-black text-xs rounded-lg px-3 py-2 shadow-lg w-64 text-center">
                                {{ field.errors }}
                            </div>
                            <div class="w-3 h-3 bg-gray-200 text-white rotate-45 absolute left-1/2 -translate-x-1/2 -bottom-1"></div>
                        </div>
                    </div>
                    {% endif%}

                    {# If field has help text add information symbol with help text on hover. #}
                    {% if field.help_text %}
                    <div class="relative group flex">
                        <span class="cursor-pointer">&#128712;</span>
                        <div class="hidden group-hover:block absolute bottom-full left-1/2 -translate-x-1/2">
                            <div class="bg-gray-200 text-white text-xs rounded-lg px-3 py-2 shadow-lg w-64 text-center">
                                {{ field.help_text }}
                            </div>
                            <div class="w-3 h-3 bg-gray-200 text-white rotate-45 absolute left-1/2 -translate-x-1/2 -bottom-1"></div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                {# Display input of field and submit button. #}
                {{ field }}
            {% endfor %}
            </div>
            <div class="grid place-items-center">
                <button class="transition-all duration-150 active:scale-90 cursor-pointer bg-third px-8 py-2 border-2 rounded-2xl text-white" type="submit">Continue</button>
            </div>
        </form>
        
        {# Link to login page in case user already has an account. #}
        <h2 class="text-xs text-center underline pt-2"><a href="/users/register/">I do not have an account.</a></h2>
    </div>
</div>
{% endblock %}