{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="flex items-center min-h-[calc(100vh-104px)]">
    <div class="w-lg mx-auto bg-white text-black p-4 rounded-3xl">
        <h1 class="text-center text-4xl">Register</h1>
        <form  class="" action="/users/register/" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-2 py-4 gap-y-2">

                {% for field in form %}
                <div class="flex gap-1">
                    {{ field.label }}:    
                    {% if field.help_text %}
                
                    <div class="group">
                        <p>&#128712;</p>
                        <div class="hidden group-hover:block">
                            {{ field.help_text }}
                        </div>
                    </div>
                
                    {% endif %}
                </div>
                {{ field }}
                {{ field.errors }}
            
            {% endfor %}
            </div>
            <div class="grid place-items-center">
                <button class="bg-third px-8 py-2 border-2 rounded-2xl text-white" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}